/* spartan-regular - latin-ext_latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/spartan-v2-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/spartan-v2-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/spartan-v2-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/spartan-v2-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/spartan-v2-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/spartan-v2-latin-ext_latin-regular.svg#Spartan') format('svg'); /* Legacy iOS */
}
/* spartan-800 - latin-ext_latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/spartan-v2-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/spartan-v2-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/spartan-v2-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/spartan-v2-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/spartan-v2-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/spartan-v2-latin-ext_latin-800.svg#Spartan') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v15-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v15-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v15-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v15-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v15-latin-ext_latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v15-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v15-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v15-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v15-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v15-latin-ext_latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}


p, a {
  font-family: Montserrat, sans-serif;
}

h1, h2, h3 {
  font-family: Spartan, sans-serif;
}

:root {
  --main-col: #FF1654;
}

::selection {
  color: white;
  background: var(--main-col);
}

html, body {
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
  }

body {
      background-color: #f3f2ef;
    }

.hidden {
  display: none;
}

/* stajlujeme menu */

#navbar {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  max-height: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #f3f2ef;
  z-index: 1;
  transition: all .6s ease-in-out;
    }

    #navbar.open {
      max-height: 100vh;
      height: 100vh;
        }

    @media only screen and (min-width: 1440px) {
      #navbar {
        padding: 0 calc((100vw - 1440px)/3);
          }
    }

.menu-wrapper {
  width: 100%;
  display: inherit;
  justify-content: space-between;
}

.menu-content {
  align-items: center;
  display: flex;
  padding: 15px 25px;
  align-self: flex-start;
    }

@media only screen and (max-width: 600px) {
 .menu-content {
    padding: 15px 0px;
      }
    }

.menu a {
 float: left;
 color: #000;
 text-align: center;
 padding: 5px 15px;
 text-decoration: none;
 transition: color .4s;
 margin: 0;
    }

.menu h1 {
 padding: 0;
 margin: 0;
        }

    /* Položky meníčka, které jsou vidět na PC/tabletech */
    .menu-items {
      padding: 20px 25px;
            }

    .menu-items a:hover {
      color: var(--main-col);
            }

    .menu-items.toggling a {
      font-size: 110%;
      padding: 20px 0px;
            }

    @media only screen and (max-width: 600px) {
     .menu-items {
       display: none;
                  }
    }

    .menu-items.toggling {
      position: absolute;
      opacity: 0;
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      align-self: center;
      display: flex;
      flex-flow: column;
      transition: .4s;
      padding-top: 90px;
    }

    /* Ikonka co rozbaluje meníčko na mobilu */

    #nav-icon3 {
      display: none
    }

    @media only screen and (max-width: 600px) {
     #nav-icon3 {
       display: block;
                  }
    }

    /* Menu-icon */

    #nav-icon3 {
      margin: 20px 15px;
      width: 40px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
      transform: scale(.7);
    }

    #nav-icon3 span {
      display: block;
      position: absolute;
      height: 3px;
      width: 40px;
      background: #000;
      border-radius: 25px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    #nav-icon3 span:nth-child(1) {
      top: 20%;
    }

    #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
      top: 50%;
    }

    #nav-icon3 span:nth-child(4) {
      top: 80% ;
    }

    #nav-icon3.open span:nth-child(1) {
      top: 9px;
      width: 0%;
      left: 50%;
    }

    #nav-icon3.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    #nav-icon3.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    #nav-icon3.open span:nth-child(4) {
      top: 50%;
      width: 0%;
      left: 50%;
    }

.menu-logo {
  font-weight: bold;
  font-size: 1rem;
}

.menu-logo a > span {
  transition: color .4s;
}

.menu-logo a:hover > span {
  color: var(--main-col);
}


/* stajlujeme obsah */

.slider {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  width: 100%;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  box-sizing: border-box;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(5, 100%);
}

.slider::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

@media only screen and (min-width: 1440px) {
  .slider {
    padding: 0 calc((100vw - 1440px)/3);
      }
}

section {
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  scroll-snap-align: start;
  flex-flow: column;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

  #uvod {

  }

    .sec-column {
      box-sizing: border-box;
      padding: 40px;
    }

    @media only screen and (max-width: 600px) {
      .sec-column {
        padding: 15px;
      }
    }


    .sec-column > div > h2, .clen-tymu > h2 {
      font-size: 3.5rem;
      margin: 0;
    }

    @media only screen and (max-width: 600px) {
      .sec-column > div > h2, .clen-tymu > h2 {
        font-size: 2rem;
      }
    }

    .sec-column > div > h2 > span, .sec-column > div > p > span {
      color: var(--main-col);
      transition: color .4s;
      font-weight: bolder;
    }

    .sec-column > div > p, .sec-column > p {
      font-size: 1rem;
      max-width: 800px;
    }

    .text-container {
      width: 100%;
    }

    .content-btn {
      background-color: var(--main-col);
      color: white;
      font-size: 1rem;
      font-weight: bold;
      border-style: none;
      border-radius: 25px;
      padding: 6px 20px;
      text-decoration: none;
      margin-top: 10px;
    }

    .content-btn:hover {
      cursor: pointer;
      box-shadow: 0 0px 20px -10px black;
    }

    .kampane-t {
      --main-col: #FF1654;
    }

    .weby-t {
      --main-col: #F49912;
    }

    .grafika-t {
      --main-col: #2492D8;
    }

    .tra {
      opacity: 0;
      transform: translateX(-10%);
    }

    .first-slide {
      transition: .3s ease-out;
    }

.bubble-wrapper {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

    .bubble-container {
      padding-top: 70px;
      padding-left: 5px;
      padding-right: 5px;
      height: 50%;
      box-sizing: border-box;
      display: grid;
      position: sticky;
      top: 0;
      grid-auto-columns: 1fr;
      grid-auto-rows: max-content;
      margin: auto;
      justify-content: center;
      align-content: center;
      max-width: 50vh;
    }

    @media only screen and (max-width: 400px) and (min-height: 680px), (min-width: 1599px) and (min-height: 899px), (min-height: 1000px) {
      .bubble-container {

      }
    }

    .dot {
      box-sizing: content-box;
      width: 40%;
      padding-bottom: 40%;
      border-radius: 50%;
      background: gray;
      position: relative;
      overflow:hidden;
      float: right;
      transition: all .6s ease-in-out;
    }

    #btnkampane.dot {
      float: left;
    }



      .dot > div {
        position: absolute;
        height:80%;
        width:90%;
        padding: 10% 5%;
      }

        .dot > div > div {
          display: table;
          width: 100%;
          height: 100%;
        }

          .dot > div > div > p {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: white;
            font-size: 2.6vmin;
            font-weight: bold;
          }

    .active-dot {
      background-color: var(--main-col);
      width: 80%;
      padding-bottom: 80%;
    }

    @media only screen and (min-width: 1365px) and (min-height: 787px) {
      .dot {

      }
    }

    @media only screen and (max-width: 600px) {
      .dot {

      }
    }

    @media only screen and (max-width: 400px) {
      .dot {

      }
    }

    @media only screen and (min-width: 1365px) and (min-height: 787px) {
      .active-dot {

      }
    }

    @media only screen and (max-width: 600px) {
      .active-dot {

      }
    }

    @media only screen and (max-width: 400px) {
      .active-dot {
        width: 100%;
        padding-bottom: 100%;
      }
    }


    .d-kampane {
      animation: dot-move 15s infinite;
    }

    .d-weby {
      animation: -5s dot-move 15s infinite;
    }

    .d-grafika {
      animation: -10s dot-move 15s infinite;
    }

  #tym {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
  }

    #tym > .text-container {
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }

    .small-title  {
      font-size: .8rem;
      letter-spacing: 4px;
      margin: 0;
      text-transform: uppercase;
    }

    .clen-tymu p:nth-of-type(1) {
      font-size: 1.5rem;
      margin: 0;
      color: var(--main-col);
      font-style: italic;
    }

    .clen-tymu > h3 {
      padding-top: 20px;
      font-size: 1.7rem;
      margin: 0;
    }

    .tym-switch {
      width: 100%;
    }

    .bigbubblecont {
      position: relative;
      height: 100%;
      width: 100%;
    }

    .tym-kruh-velky {
      width: calc(100vh * 0.9);
      height: calc(100vh * 0.9);
      border-radius: 50%;
      background: var(--main-col);
      position: absolute;
      left: 10%;
      top: 25%;
    }

    .tym-kruh-velky > div {
      position: absolute;
      width: 100%;
      height: 120%;
      overflow: hidden;
      bottom: 0;
      border-radius: 0px 0px 1500px 1500px;
    }

    .tym-kruh-velky > div > img{
      height: 100%;
    }

      @media only screen and (max-width:600px) {
        .tym-kruh-velky {
          width: calc(100vh * 0.9 / 2);
          height: calc(100vh * 0.9 / 2);
          left: 50%;
          top: 15%;
        }
        #tym {
          grid-template-columns:auto;
          grid-template-rows: 60% 40%;
          grid-auto-flow: row;
        }
      }

@keyframes dot-move {
  0%   {transform: translate(0%,0%);}
  25%  {transform: translate(5%,1%);}
  50%  {transform: translate(-7%,3%);}
  75%  {transform: translate(3%,-4%);}
  100% {transform: translate(0%,0%);}
}
